<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
<p>Welcome to the Admin Dashboard</p>
<a href="/dailyresults">View Daily Results</a>
<br><a href="/aggregateResult">View Aggregate Results</a>
<br><a href="/viewTester">Reassign Testers</a>
<br><a href="/viewAppointment">View Appointments</a>
<br><a href="/createAppointment">Create Appointment</a>
<br><a href="/createTestSite">Create Testing Site</a>
<br><a href="/logout">Logout
</body>
</html>