<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab Technician / Tester Dashboard</title>
</head>
<body>
<p>Welcome to the Lab Technician / Tester Dashboard</p>
<a href="/dailyresults">View Daily Results</a>
<br><a href="/aggregateResult">View Aggregate Results</a>
<br><a href="/tests_processed">View My Processed Tests</a>
<br><a href="/viewPools">Process Pool</a>
<br><a href="/createPool">Create Pool</a>
<br><a href="/viewPools">View Pools</a>
<br><a href="/reassigntester">Change Testing Site</a>
<br><a href="/viewAppointment">View Appointments</a>
<br><a href="/createAppointment">Create Appointment</a>
<br><a href="/logout">Logout
</body>
</html>