<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>

</head>
<body>
<h1>Welcome! Student!</h1>

  <form action="/StudentRegister" method = "POST">
    {{hint}}
    <p>Username <input type = "text" name = "Username" required/></p>
    <p>Password <input type = "password" name = "Password" id="pwd" required/></p>
    <label id="pwdfalse" style="color: red; visibility: hidden" >The password length must be greater than 8 and less than 16</label>
    <p>Confirm Password <input type = "password" name = "ConfirmPwd" id="pwd2" required/></p>
    <label id="pwdfalse2" style="color: red;visibility: hidden">Two passwords are not consistent</label>
    <p>First Name <input type = "text" name = "FName" required/></p>
    <p>Last Name <input type = "text" name = "LName" required/></p>
    <p>Email <input type = "email" name = "Email" id="emailInput" required minlength="5" maxlength="25"/></p>
    


    <label for="Location">Location:</label>
    <select name="Location" id="Location" required = required>
      <option value="">--Select A Location--</option>
      <option value="East">East Campus</option>
      <option value="West">West Campus</option>
    </select>

    <label for="HouseType">Housing Typle:</label>
    <select name="HouseType" id="HouseType" required = required>
      <option value="">--Select A Housing Type--</option>
      <option value="Student Housing">Student Housing</option>
      <option value="Greek Housing">Greek Housing</option>
      <option value="Off-Campus House">Off-Campus House</option>
      <option value="Off-Campus Apartments">Off-Campus Apartments</option>
    </select>

      </div>
      <p><button onclick="return checkall();" type="submit"  value="Register" >Register</button></p>





  </form>
 <script type="text/javascript" >

    function chechpwd(){
      var pwd=document.getElementById("pwd").value;
      var pwd2 = document.getElementById("pwd2").value;
      if(pwd.length<8||pwd.length>16){
        document.getElementById("pwdfalse").style.visibility="visible";
        return false;
      }
      if (pwd != pwd2) {
        document.getElementById("pwdfalse2").style.visibility="visible";
        return false;
      } else {
        document.getElementById("pwdfalse2").style.visibility="hidden";
        return true;

      }
    }


    function checkEmail(){
        var emailVar = document.getElementById("emailInput");
        if(emailVar.length<5||emailVar.length>25) {
            document.getElementById("emailFalse").style.visibility="visible";
            return false;
        }
    }

    function checkall(){
      var cpd=chechpwd();
      var cr = checkRole();
      var em = checkEmail();
      if(cpd&&cr&&em){
        return true;
      }else{
        return false;
      }
    }
  </script>
</body>
</html>
