<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Reassign Testing</title>
</head>
<body>
<form action="/reassigntester" method = "POST">
        <!-- copy some template online just for testing -->
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Testing Site Reassignment</h3>
                <h6>To remove: uncheck the site | To add: select the site in the drop-down menu</h6>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            {% for i in labels %}
                                <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {% for i in content %}
                                        <input type="checkbox" id="{{ i[0] }}" name="{{ i[0] }}" value="assigned" checked="checked">
                                        <label for="{{ i[0] }}">{{ i[0] }}</label><br>
                                    {% endfor %}
                                    Add a Testing Site: 
                                    <select name="siteNameAdd" id="siteNameAdd">
                                        {% for i in unassigned %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                        <option value = "None" selected>None</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Full Name: {{ fullName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<p><input type = "submit" value = "Update" /></p>
</form>

<p><a href="/dashboard">Back</a></p>
</body>
</html>